<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Flipent</string>

    <key>CFBundleIdentifier</key>
    <string>com.yourcompany.flipent</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleExecutable</key>
    <string>Flipent</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>FLPT</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>

    <key>CFBundleIconFile</key>
    <string>Flipent.icns</string>

    <key>LSMinimumSystemVersion</key>
    <string>10.1.0</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
